body {
    margin: 0;
    display: flex;
    height: 100vh;
    background-color: #333333;
    font-family: 'Poppins', sans-serif;
    color: #fff;
    overflow: hidden;
}
.container-cabeçalho {
    background: linear-gradient(180deg, #1f1f1f, #141414);
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 20px 10px;
    height: 100vh;
    width: 280px;
    position: fixed;
    top: 0;
    left: 0;
    border-right: 1px solid #2b2b2b;
}
.container-cabeçalho ul {
    list-style-type: none;
    padding: 0;
    width: 100%;
}
.container-cabeçalho input {
    display: flex;
    position: relative;
    right: 10px;
    border: none;
    border-radius: 8px;
    background-color: #2b2b2b;
    color: rgb(255, 255, 255);
    padding: 12px 15px;
    margin: 10px;
    width: 90%;
    font-size: 14px;
    transition: all 0.3s ease;
}
.container-cabeçalho a {
    color: #b0b0b0;
    margin: 8px ;
    text-decoration: none;
    display: flex;
    align-items: center;
    padding: 10px ;
    width: 90%;
    border-radius: 8px;
    transition: all 0.3s ease;
    font-weight: 500;
}
.container-cabeçalho a:hover {
    background: #333;
    color: #fff;
}
.botao-spotify {
    background-color: black;
    background-image: url(../img/spotify.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    position: relative;
    top: 1px;
    width: 30px;
    height: 30px;
    border-radius: 10px;
    border: 2px solid rgb(48, 47, 47); 
    cursor: pointer;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}
.botao-spotify:hover {
    transform: scale(1.2);
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.4);
}
.botao-github {
    background-color: black;
    display: flex;
    position: relative;
    left: 55px;
    bottom: 28px;
    background-image: url(../img/git.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 30px;
    height: 30px;
    border-radius: 10px;
    border: 2px solid rgb(48, 47, 47); 
    cursor: pointer;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.botao-github:hover {
    transform: scale(1.2);
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.4);
}
.botao-vscode {
    background-color: black;
    display: flex;
    position: relative;
    left: 110px;
    bottom: 58px;
    background-image: url(../img/vscode.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 30px;
    height: 30px;
    border-radius: 10px;
    border: 2px solid rgb(48, 47, 47); 
    cursor: pointer;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.botao-vscode:hover {
    transform: scale(1.2);
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.4);
}
.botao-linkedin {
    background-color: black;
    display: flex;
    position: relative;
    left: 165px;
    bottom: 88px;
    background-image: url(../img/linkedin.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 30px;
    height: 30px;
    border-radius: 10px;
    border: 2px solid rgb(48, 47, 47); 
    cursor: pointer;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.botao-linkedin:hover {
    transform: scale(1.2);
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.4);
}
.botao-discord {
    background-color: black;
    display: flex;
    position: relative;
    left: 220px;
    bottom: 117px;
    background-image: url(../img/DISCORD.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 30px;
    height: 30px;
    border-radius: 10px;
    border: 2px solid rgb(48, 47, 47); 
    cursor: pointer;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}
.botao-discord:hover {
    transform: scale(1.2);
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.4);
}
.quadro {
    background-color: #252020;
    color: white;
    display: flex;
    position: relative;
    left: 430px;
    padding: 100px;
    width: 600px;
    height: 200px;
    top: 40px;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    border: 1px solid #252020;
    border-radius: 8px;
    outline: none;
    overflow: hidden;
    transition: transform 0.3s, box-shadow 0.3s;
}
.quadro:hover{
    transform: scale(1.01);
    box-shadow: 0 6px 20px rgba(196, 183, 183, 0.5);
}
.nome {
    position: absolute;
    background-color: #252020;
    color: white;
    border-right: #252020;
    left: 450px;
    top: 50px;
}
.divisoria {
    border: none;
    height: 3px;
    background: rgb(48, 47, 47);
    margin: 15px 0;
}
#botao-salvar {
    background-image: url(../img/Salvar.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-color: rgb(90, 84, 84);
    top: 400px;
    left: 1180px;
    height: 30px;
    width: 30px;
    display: flex;
    position: absolute;
    padding: 5px;
    border-radius: 40px;
    transition: transform 0.3s, box-shadow 0.3s;
    overflow: hidden;
    border: solid 1px rgb(48, 47, 47);
    cursor: pointer;
}
#botao-salvar:hover {
    transform: scale(1);
    box-shadow: 0 4px 20px rgba(196, 183, 183, 0.5);
}
#notas {
    position: relative;
    left: 530px;
    top: 70px;
    width: 300px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.card {
    display: flex;
    position: absolute;
    right: 680px;
    top: 400px;
    background: #1f1f1f;
    color: white;
    padding: 12px 15px;
    border-radius: 8px;
    font-size: 14px;
    border: 1px solid #2b2b2b;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
    overflow-wrap: break-word;
    font-family: 'Poppins', sans-serif;
    white-space: normal; 
}
.card:hover {
    transform: scale(1.01);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.4);
}
.card button {
    display: flex;
    position: relative;
    background-color: rgba(196, 183, 183, 0.5);
    height: 28px;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    color: white;
    cursor: pointer;
}

.card button:hover {
    background-color: rgba(196, 183, 183, 0.5);
}