
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/Css/Login.css">
    <title>Login</title>
</head>

<body>
    <div class="container">
        <div class="Login">
            <h2>Login</h2>
                Usuário <input class="Id" placeholder="    👤 Usuário" name="nome">
                Senha <input class="Senha" placeholder="   🔒 Senha" name="senha">
                <a href="Home.html" class="Botao">Entrar</a>
                <a href="Registro.html" class="Botao-Cadastro">Cadastre-se</a>
        </div>
        <div class="Imagem">
            <div class="Bem-Vindo">
                <h2>Bem-Vindo de Volta!</h2>
            </div>
        </div>
    </div>
</body>

</html>