<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/Css/Login.css">
    <title>Document</title>
</head>
<body>
    <div class="container">
        <div class="Login">
            <h2>Login</h2>
            <form>
                Usuário <input class="Id" placeholder="    👤 Usuário">
                Senha <input class="Senha" placeholder="   🔒 Senha">
                <a href="Home.html" class="Botao">Entrar</a>
            </form>
        </div>
        <div class="Imagem"></div>
    </div>
</body>
</html>