<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/Css/Registro.css">
    <title>Login</title>
</head>

<body>
    <div class="container">
        <div class="Login">
            <h2>Cadastro</h2>
            <form action="http://127.0.0.1:5000/Cadastro_Usuarios" method="POST">
                Usuário<input class="Id" placeholder="👤 Usuário" name="nome" required>
                Senha<input class="Senha" type="password" placeholder="🔒 Senha" name="senha" required>
                Email<input class="Email" type="email" placeholder="✉️ Email" name="email" required>
                <button class="Botao-Cadastro">Cadastrar</button>
            </form>
        </div>
        <div class="Imagem">
            <div class="Bem-Vindo">
                <h2>Cadastro</h2>
            </div>
        </div>
    </div>
</body>

</html>